@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");



.books{
  height: 100px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
      rgba(204, 30, 88, 0.6),
      rgba(20, 20, 20, 0.6)
    ),
    url("../../assets/HarryPotter/bg2.jpg");
    border: none;
    outline: none;
    color: #fcde67;
}

.card{
  height: 600px;
}

.imgBox,
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


img{
    width: 300px;
    padding: 10px;
}




