<div class="books">
  <h1>Franchisefrizz</h1>
  <h3>--Books--</h3>
</div>

<!-- <div class="book">
    <div class="bookImg">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81YOuOGFCJL.jpg" alt="">
    </div>
    <div class="bookTitle">
      Harry Potter and the Philosopher's Stone
    </div>
    <div class="buttons">
      <div class="readBtn">
        <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf" target="_blank">
          Read</a>
      </div>
      <div class="downloadBtn">
        <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf"
          download="[1]Harry Potter and the Philosopher-s Stone.pdf" target="_blank"> Download</a>

      </div>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81YOuOGFCJL.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Harry Potter and the Philosopher's Stone</h5>
      <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf" class="btn btn-primary"
        target="_blank">
        Read</a>
    </div>
  </div> -->

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" style="padding-left:10%; padding-right: 10%; padding-bottom: 10%;">
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/13/0d/95/130d95eb6d4d70c0e54d4ee55028f68b.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Philosopher's Stone</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf" class="btn btn-info"
            download="[1]Harry Potter and the Philosopher-s Stone.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/d3/8f/9a/d38f9ab2f52b4c0ff921e18e493b8cea.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Chamber of Secrets</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[2]Harry Potter and the Chamber of Secrets.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[2]Harry Potter and the Chamber of Secrets.pdf" class="btn btn-info"
            download="[2]Harry Potter and the Chamber of Secrets.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/13/9a/a4/139aa4faf0829b98bbb9fd0bab537629.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Prisoner of Azkaban</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[3]Harry Potter and the Prisoner of Azkaban.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[3]Harry Potter and the Prisoner of Azkaban.pdf" class="btn btn-info"
            download="[3]Harry Potter and the Prisoner of Azkaban.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/a7/f5/49/a7f549e7356f4903e26e235c3cf38a93.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Goblet of Fire</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[4]Harry Potter and the Goblet of Fire.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[4]Harry Potter and the Goblet of Fire.pdf" class="btn btn-info"
            download="[4]Harry Potter and the Goblet of Fire.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/1b/9c/fd/1b9cfd0c6747fbb317a459c3d738cdf7.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Order of the Phoenix</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[5]Harry Potter and the Order of the Phoenix.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[5]Harry Potter and the Order of the Phoenix.pdf" class="btn btn-info"
            download="[5]Harry Potter and the Order of the Phoenix.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/df/9c/b8/df9cb84e021d8a9f20072badc46c9c3a.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Half-Blood Prince</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[6]Harry Potter and the Half-Blood Prince.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[6]Harry Potter and the Half-Blood Prince.pdf" class="btn btn-info"
            download="[6]Harry Potter and the Half-Blood Prince.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/dc/d3/f5/dcd3f5e9a87548a5611689ad475e6376.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Deathly Hallows</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="[7]Harry Potter and the Deathly Hallows.pd" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
</div>