<div class="boxheader"></div>
<header><img class="headerimg" src="../assets/Titles/harry-potter-logo-32547.png" alt="image"></header>

<div class="container-fluid">

    <div class="box">
      <img src="../assets/HarryPotter/Potter.jpg">
      <span>HarryPotter</span>
    </div>
    <div class="box">
      <img src="../assets/HarryPotter/Hermione.jpg">
      <span>Hermione</span>
    </div>
    <div class="box">
      <img src="../assets/HarryPotter/Ron.jpg">
      <span>Ron</span>
    </div>
    <div class="box">
      <img src="../assets/HarryPotter/Dobby.jpg">
      <span>Dobby</span>
    </div>
  </div>

  <div class="row Characters">
    <div class="col write">
      <div class="boxGrid"></div>
      <h3 class="fst-italic strong">HarryPotter - The Boy Who Lived</h3>
      <p class="fst-italic strong">
        Harry James Potter was an English half-blood wizard, and one of the most <br>
         famous wizards of modern times. The only child and son of James and Lily Potter, <br>
        Harry's birth was overshadowed by a prophecy, naming either himself or <br>
         Neville Longbottom as the one with the power to vanquish Lord Voldemort. <br>
         Harry was also noted for being the only known Master of Death.
      </p>


    </div>
    <div class="col write">
      <div class="boxGrid"></div>
      <h3 class="fst-italic">Dobby - The Free Elf</h3>
      <p class="fst-italic">
        Dobby is a house-elf, but posses a way of thinking that most house-elves <br>
         find shameful. This is because Dobby desired to be a free house-elf, <br>
          and while free actually enjoyed his situation. Because of his important ideas, <br>
           his loyalty to anyone on Harry Potter’s side, <br>
          and his brave actions Dobby is a vital character to the Harry Potter series.
      </p>
    </div>
  </div>