.ig{
    width: 20%;
    height: auto;
}
.cf1{
    background-color: black;
    margin: 0%;
}
.btn-sm{
    background-color: blue;
    color:aliceblue;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}
.btn-sm:hover{
    background-color: violet;
}
.bt{
    float: right;
}
.nav-item{
    margin-right: 100px;
}
.dropdown-toggle{
    margin-left: 310px;
}

