  /* header css */

  .header
  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 5px;
      background-color: black;
      border-bottom: none;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .header .logo img
  {
    border-radius: 20px;
    width: 60%;
  }

  .header .connect
  {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 80px;
  }

  .header .connect div
  {
      padding: 0px 20px;
  }

  .header .connect a:hover
  {
      border-radius: 10px;
      background-color:#fcde67;
      color: black;
  }

  .header .connect a
  {
      padding: 5px 20px;
      text-decoration: none;
      font-size: 17px;
      color: white;
  }

  .content{
      background-color: black;
      /* height: 100vh; */
  }

  footer{
      position: absolute;
      bottom: 0;
      width: 100%;
  }

  