<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>
<!-- navbar -->
    
<!-- logo -->
      
<!-- title & content -->
      <section class="header-content">
         <h1>Start Your Journey</h1>
        <p> Welcome to FranchiseFrizz. Get to know more about,<br>
           your favouite Franchise and Grab Items from our Store.</p>
        <a href="#"><button>Get Started</button></a>
      </section>
  </header>